<div style="text-align:center; margin-top:150px;">
<%=image_tag("casa.png")%>
<p style=" font-size:16pt; text-align:center;  opacity:.6;"><strong><%= link_to "ENTRAR", inicio_path, :style=>"color:#333;"%></strong></p>
<p style=" font-size:12pt; color:white; text-align:center; opacity:.6;">Para tener una mejor experiencia <br/>Te recomendamos estos navegadores</p>

<p style="opacity:.6; text-align:center; ">
	<%= link_to image_tag("fire.png"), "http://www.mozilla.com/es-MX/"%>
	<%=link_to image_tag("chro.png"), "http://www.google.com/chrome?hl=es-419&brand=CHJL&utm_campaign=es-419&utm_source=es-419-mx-ha-BKWS&utm_medium=ha"%>
	<%=link_to image_tag("saf.png"), "http://www.apple.com/mx/safari/download/"%>
</p>
</div>